
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  background-color: #046363;
  height: 100vh;
}

.main {
  position: relative;
  top: 15%;
}

.question {
  padding: 1rem;
  color: #e2e2e2;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: cursive;
}

.player_name {
  padding: 1rem;
  width: 40%;
  margin: 1rem auto;
}

.player_name input {
  width: 100%;
  height: 3rem;
  border: none;
  padding: .345rem .855rem;
}

.player_name input:focus {
  border-color: transparent;
  border-radius: inherit;
}

.getCrunchy {
  margin: 3rem auto;
}

.getCrunchy button {
  width: 15rem;
  height: 3rem;
  background-color: #034444;
  color: #f9f9f9;
  font-weight: 600;
  border: none;
  transition: margin-left 400ms ease-in-out;
}

.getCrunchy button:hover {
  margin-left: 1.3rem;
}

/* Styling the heading */
.game_page {
  height: 100vh;
}

.header {
  height: 8rem;
  background-image: url('../assets/img/headerBg2.jpg');
  background-position: center 70%;
  background-size: cover;
  position: fixed;
  width: 100%;
}

.player_image  img {
  height: 5rem;
  padding: .8rem 0 0 1.2rem;
  float: left;
  margin-top: .4rem;
}

.game_page  .player_name {
  font-family: Arial, Helvetica, sans-serif;
  float: left;
  width: auto;
  font-size: 1.5rem;
  color: #6abccb;
  margin-top: 1.5rem;
}

.playerScore {
  float: right;
  padding: 1.44rem 2rem 0 0;
  font-size: large;
  color: #f9f9f9;
  margin-top: 1.5rem;
  padding-right: 2rem;
}

.playerScore span {
  text-transform: uppercase;
  color: #046363;
  font-size: large;
}

/* styling play_section */
.play_section {
  height: 100vh;
  padding-top: 9rem;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

.play_section .crunched {
  float: left;
  max-width: 18rem;
}

.crunched h3 {
  letter-spacing: 2px;
  font-size: 1.6rem;
  color: #e7e7e7;
  margin-bottom: 1.5rem;
  padding-left: .2rem;
}

.crunched ul {
  list-style: none;
  text-align: left;
  display: none;
  border: 1px solid #034444;
  border-radius: 2px;
  margin-left: 1rem;
  font-size: small;
}

.crunched ul li {
  line-height: 2rem;
  color: #66c3c3;
  padding: .2rem 1rem;
  transition: all 200ms ease-in-out;
}

.crunched ul li::before {
  content: '\25E6';
  color: #083636;
  display: inline-block;
  width: 1em;
  margin-left: -.5em;
}

.crunched ul li:hover {
  background-color: #008080;
  cursor: pointer;
  margin-left: .4rem;
}

.central {
  width: 53%;
  margin: 0 auto;
  height: 70%;
  margin-left: 3rem;
}

.central .megaDisplay {
  background-color: #101b1b;
  height: 56%;
  color: #fcfcfc;
  padding: 2rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.playerTxt {
  height: 20%;
  padding: 1rem;
  background-color: #008080;
  display: flex;
  align-items: center;
  color: #023333;
  position: relative;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.playerTxt::before {
  content: '';
  width: 1.5rem;
  position: absolute;
  background-color: #008080;
  top: -16%;
  left: 48%;
  z-index: 100;
  height: 1.5rem;
  transform: rotate(45deg);
}

.central .playerTextArea {
  height: 20%;
  margin-top: 1rem;
}

.playerTextArea input {
  width: 25rem;
  padding: 1.1rem .4rem;
  border: none;
  border-radius: 2px;
  font-size: 1.4rem;
}

.playerTextArea input:active {
  border: none;
}

.rightSection {
  width: 20%;
  background-color: #008080;
  margin-right: .567rem;
  margin-top: -1rem;
  padding: 1.5rem;
}

.rightSection .crunchTimer p {
  font-size: 1.3rem;
  color: #e7e7e7;
}

#crunchTimer {
  font-size: 4rem;
  color: #023333;
}

.controls {
  position: relative;
  top: 48%;
}

.controls .restart {
  border: 1px solid #023333;
  width: 8rem;
  background-color: transparent;
  color: #e7e7e7;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: .654rem 0;
  border-radius: 3px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

.controls .start {
  border: 1px solid #023333;
  border-radius: 3px;
  transition: all 400ms ease-in-out;
  cursor: pointer;
  background-color: transparent;
  color: #e7e7e7;
  margin: 0 auto 1rem auto;
  font-size: 1.5rem;
  padding: .654rem 0;
  width: 8rem;
}

.controls .restart:hover,
.controls .start:hover {
  background-color: #046363;
  border: 1px solid #046363;
}

.quit {
  width: 2rem;
  height: 2rem;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #034444;
  color: #e7e7e7;
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}

.quit span {
  position: relative;
  left: 28%;
  font-size: 1.5rem;
}

.quit:hover {
  transform: scale(1.4);
}